/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a pipeline test.

    Use as follows:
        nextflow run nfellaby/hydrasim -profile test,docker

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'test'
    config_profile_description = 'Test dataset to check pipeline function'

    // Input data for full size test
    samplesheet = "/shared/team/amr/nextflow/test_data/test-sample-sheet.csv"

}